.dialog {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000003a;
}

.dialog-warning {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: #fff;
  border-radius: var(--border-radius-primary);
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.1);
  padding: 24px;
}

.dialog-warning__title {
  margin-bottom: 10px;
}

.dialog-warning__notification {
  display: flex;
  column-gap: 20px;
  max-width: 300px;
}

.dialog-warning__icon {
}

.dialog-warning__icon i {
  color: yellow;
  font-size: 30px;
  width: 20px;
  height: 25px;
}
.dialog-error__icon i {
  color: red;
  font-size: 30px;
  width: 20px;
  height: 25px;
}

.dialog-warning__content {
}

.dialog-warning__notification--footer {
  border-top: 1px solid #ccc;
  padding: 20px 0;
  margin-top: 30px;
}

.dialog__button-ok {
  outline: none;
  border: 0;
  float: right;
}

.dialog__button-ok {
  border: none;
  min-width: 80px;
  margin-left: 8px;
  background-color: var(--background-color-primary);
  border-radius: var(--border-radius-primary);
  padding: 8px 19px;
  color: var(--color-primary);
  font-weight: var(--font-weight-primary);
  height: 36px;
}

/* === Dialog-3 === */
.dialog__button-cancel {
  border: none;
  min-width: 80px;
  background-color: #fff;
  padding: 8px 16px;
  border: 1px solid;
  border-radius: var(--border-radius-primary);
  border-color: var(--border-color-primary);
}

.dialog__button-cancel:hover {
  background-color: #f6f6f6;
  cursor: pointer;
}
.dialog__button-cancel:focus {
  background-color: #ebebeb;
}

.min-width-dialog {
  width: 400px !important;
}

.min-height-dialog {
  height: 191px !important;
}

.btn-color-delete {
  background-color: #e81e1e;
}

.dialog__button-delete:hover {
  opacity: 0.9;
  cursor: pointer;
}
